@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
}

#logo{
    margin-top: 10px;
    width: 30vw;
    border-radius: 50%;
    box-shadow: 2px 2px 10px rgb(83, 160, 179)
    , 2px 2px 10px rgb(112, 39, 113);
    cursor: pointer;
}

h1{
    color: #fff;
    font-family: "Protest Guerrilla", sans-serif;
}

#name{
    color: rgb(115, 185, 212);
    font-size: 40px;
}

#va{
    color: aqua;
    font-size: 40px;
}

#voice{
    width: 150px;
    border-radius: 50%;
    display: none;
}

#btn{
    width: 30%;
    background: linear-gradient(to right, rgb(83, 160, 179)
    , rgb(112, 39, 113));
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    box-shadow: 2px 2px 10px rgb(83, 160, 179)
    , 2px 2px 10px rgb(112, 39, 113);
    border: none;
    transition: all 0.5s;
}

#btn:hover{
    box-shadow: 2px 2px 18px rgb(83, 160, 179)
    , 2px 2px 18px rgb(112, 39, 113);
    letter-spacing: 1px;
}

#btn i{
    font-size: 20px;

}

